@charset "utf-8";

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.5);
}

html, body {
	width: 100%;
	height: 100%;
	min-width: 1280px;
	min-height: 720px;
}

body {
	overflow: hidden;
	min-width: 1280px;
	min-height: 720px;
	margin: 0;
	padding: 0;
	font-size: .75em;
}

body, div, p, h1, h2, h3, h4, h5, h6, address, textarea, input, table,
	td, th, dl, dt, dd, ul, ol, li, a, strong, span, em, button, fieldset {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.2;
	font-family: /*'Korean iTV SanSerifD'*/ 'Yoon 윤고딕 540_TT';
	color: #fff;
	-webkit-text-size-adjust: 100%
}

img {
	margin: 0;
	padding: 0;
	vertical-align: top;
	border: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	background: none;
	cursor: none;
}

li {
	list-style-type: none;
}

address {
	font-style: normal;
}

mark {
	background: none;
	color: #fff;
}

em {
	font-style: normal
}

fieldset {
	border: none;
}

legend {
	display: none
}

input {
	border: none;
	background: none;
	cursor: none;
}

img {
	
}

#main {
	position: absolute;
	left: 0px;
	top: 0px;
}

.main_view {
	position: absolute;
	left: 0px;
	right: 0px;
	width: 1280px;
	height: 720px;
	background-color: rgba(0,0,0,0.7);
}

.main_img {
	position: absolute;
	left: 112px;
	top: 57px;
	right: 0px;
	width: 1056px;
	height: 606px;
}

.button_area {
	position: absolute;
	width: 700px;
	height: 700px;
}


.button_area .button {
		position : absolute;
		width: 351px;
		height: 150px;
}

.button_area .button.btn0{
	top:186px;
	left:155px;
	background: url(../images/main_ep_01_n.png)  ;
}
.button_area .button.btn1{
	top:186px;
	left : 507px;	
	background: url(../images/main_ep_02_n.png) ;
}
.button_area .button.btn2{
	top:337px;
	left : 155px;
	background: url(../images/main_ep_03_n.png);
}
.button_area .button.btn3{
	top:337px;
	left : 507px;
	background: url(../images/main_ep_04_n.png) ;
}
.button_area .button.btn4{
	top:488px;
	left : 155px;
	background: url(../images/main_ep_05_n.png);
}
.button_area .button.btn5{
	top:488px;
	left : 507px;
	background: url(../images/main_ep_06_n.png) ;
}

.button_area .button.btn0.focused{
	
	background: url(../images/main_ep_01_f.png) ;
	
}
.button_area .button.btn1.focused{
	background: url(../images/main_ep_02_f.png) no-repeat;
}
.button_area .button.btn2.focused{

	background: url(../images/main_ep_03_f.png) no-repeat;
}
.button_area .button.btn3.focused{

	background: url(../images/main_ep_04_f.png) no-repeat ;
}
.button_area .button.btn4.focused{

	background: url(../images/main_ep_05_f.png) no-repeat ;
}
.button_area .button.btn5.focused{

	background: url(../images/main_ep_06_f.png) no-repeat ;
}




.popupbtn.btn0 {
	position: absolute;
	width: 172px;
	height: 54px;
	left:374px;
	top:572px;
	background: url(../images/episode_btn_vodplay_f.png) 
}


#popup {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1280px;
	height: 720px;
	z-index: 3;
	background-color: rgba(0,0,0,0.7);
}



.popup_img {
	position:absolute;
	width: 1056px;
	height: 606px;
	left: 112px;
	top: 57px;
}

.button_cashe{
	position:absolute;
	visibility:hidden;
	top:730px;
}
.img_cashe{
	position:absolute;
	top:830px;
}

