@CHARSET "UTF-8";

body {
	background-color: black;
}

#main {
	position: absolute;
	top: 50px;
	left: 130px;
}

header, article, footer {
	position: relative;
}

header {
	width: 1020px;
	height: 50px;
	border-bottom: 3px solid #FF1212;
}

article {
	width: 1020px;
	height: 517px;
}
 #addingGiftBodyImage{
	position: absolute;
	top : 82px;
	left: 76px;
}
article>img:nth-child(1){
	position : absolute;
	left: 20px;
	top: 246px;
}
article>img:nth-child(2){
	position: absolute;
	left:980px;
	top: 246px;
}

#addingGiftBodyImage>div{
	display:inline-block;
	position: relative;
	width : 168px;
}
#addingGiftBodyImage>div>.addingBodyBallonImage{
	position : relative;
	left : 20px;
}
#addingGiftBodyImage>div>.addingBodyPosterImage{
	position : absolute;
	left : 22px;
	top : 73px;
}
#addingGiftBodyImage>div>.addingBodyFooterImage{
	position : absolute;
	top : 259px;
}
.addingBodyBallonImage>img:nth-child(2){
	position: absolute;
	left :28px;
	top: 14px;
}
.addingBodyBallonImage>span{
	color : white;
	font-family: 'Yoon 윤고딕 540_TT';
	position: absolute;
	left :92px;
	top: 13px;
}
#headerNum{
	color: white;
	font-size: 33px;
	left : 942px;
	right : 13px;
	position: absolute;
	
}
#headerTxt{
	color: white;
	font-size: 18px;
	right : 177px;
	top : 14px;
	position: absolute;
}
#poster_focus{
	position: absolute;
	left : -23px;
	top : -23px;
}

#third_ballon{
	position : absolute;
	left : 431px;
	top : 35px;
	
}
#machine_top, #machine2, #ani {
	position : absolute;
	left : 357px;
	top : 110px;
}
#machine1{
	position : absolute;
	top : 110px;
	left:357px;
}

footer {
	width: 1020px;
	text-align: center;
}

header>span:nth-child(2) {
	position: absolute;
	top : 11px;
	left: 853px;
}