@CHARSET "UTF-8";

body {
	/* background-color: black; */
}

#main {
	position: absolute;
	top: 50px;
	left: 130px;
}

header, article, footer {
	position: relative;
}

header {
	width: 1020px;
	height: 53px;
}

article {
	width: 1020px;
	height: 517px;
}
article>#addingGiftBodyImage{
	position: absolute;
	top : 73px;
	left: 76px;
}
#addingGiftBodyImage>span>.addingBodyBallonImage{
	position: absolute;
	left : 20px; 
}
#addingGiftBodyImage>span>.addingBodyPosterImage{
	position: absolute;
	top : 73px;	
	left: 22px;
}
#addingGiftBodyImage>span>.addingBodyFooterImage{
	position: absolute;
	top : 259px;
}

footer {
	width: 1020px;
	text-align: center;
}

header>span:nth-child(2) {
	position: relative;
	left: 283px;
}